extends pug/common/_head
include pug/mixins/_mixins.pug
block content
  main#main(role="main")
    .container
      .equal-columns
        +post ({
        postList: [
          {
            postImage: 'pug.png',
            postHeading: 'Some text ',
            postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
            postMoreHref: '#',
            postMoreText: 'Learn more 1'
          },
          {
            postImage: 'pug.png',
            postHeading: 'Some text ',
            postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
            postMoreHref: '#',
            postMoreText: 'Learn more 2'
          },
          {
            postImage: 'pug.png',
            postHeading: 'Some text ',
            postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
            postMoreHref: '#',
            postMoreText: 'Learn more 3'
          },
        ],
        })

      .block
        p This just to show us sample of #[a.underlined(href='#') link ] inside paragraph

      .block
        p Showing pug template literals with hidden text on mobile #[span.visible-desktop] and with link
        a.more(href="#") more »

      +box ({
      boxList: [
        {
          iconClass: 'sample-class',
          headingTextDefalt: 'Some text ',
          headingTextColored: 'Colored',
          text: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
          linkSrc: '#'
        },
        {
          iconClass: 'sample-class',
          headingTextDefalt: 'Some text ',
          headingTextColored: 'Colored',
          text: 'Lorem ipsum dolor sit amet, constetuer adipiscing elit. Aenean commodo.',
          linkSrc: '#'
        },
        {
          iconClass: 'sample-class',
          headingTextDefalt: 'Some text ',
          headingTextColored: 'Colored',
          text: 'Lorem ipsum dolor sit amet, constetuer adipiscing elit. Aenean commodo.',
          linkSrc: '#'
        },
      ],
      })
