$gray: #808080;
$gray-dark: #333;
$gray-light: #f7f7f7;
$gray-base: #dedede;
$gray-alt: #ccc;
$black: #000;
$white: #fff;
$green: #53a665;
$blue: blue;
$red: red;

$primary-color: $green;

$transparent: rgba(0, 0, 0, 0);

$font-sans-serif: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$font-sans-serif-alt: 'Verdana', 'Arial', 'Helvetica', sans-serif;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$base-font-family: $font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;
$base-paragraph-margin: 1rem !default;

// Liks
$base-link-color: $primary-color;

// Buttons
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 1.5rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: $font-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: $gray-dark !default;

$animation-speed: .3s !default;
$easing-default: linear;

// common page syles
// page header
$header-bg: $gray;

// main navigation
$nav-font-family: $font-sans-serif-alt;
$nav-base-color: $blue;
$nav-active-color: $base-link-color;
$nav-hover-color: $gray;

// block
$block-bg: $white;

// post
$post-heading-color: $blue;
$post-img-size: 150px;
$post-bg: $gray;
$post-text-color: $white;

// page footer
$footer-font-size: 12px !default;
$footer-line-height: 16px !default;
$footer-font-family: $font-sans-serif-alt !default;
$footer-border-color: $gray-alt !default;
$footer-color: $gray !default;
