mixin categoryNav(obj)
  each item in obj.categoryList
    li.nav__item(class=item.class)
      a.nav__link(href=item.href)
        = item.category

//- usage not here. Look at navigation.pug file
//- +categoryNav ({
//- categoryList: [
//-   {
//-     category: 'Lorem',
//-     class: 'nav__item--active',
//-     href: '#'
//-   },
//-   {
//-     category: 'Ipsum',
//-     class: '',
//-     href: '#'
//-   },
//-   {
//-     category: 'Dolor',
//-     class: '',
//-     href: '#'
//-   },
//-   {
//-     category: 'Amet',
//-     class: '',
//-     href: '#'
//-   }
//- ],
//- })

mixin box(obj)
  each item in obj.boxList
    article
      .box-h
        i(class=item.iconClass)
      h4
        = item.headingTextDefalt
        span.text-red= item.headingTextColored
      p= item.text
      a.more(href= item.linkSrc) more »

//- usage not here. Look at index.pug file

//- +box ({
//- boxList: [
//-   {
//-     iconClass: 'sample-class',
//-     headingTextDefalt: 'Some text ',
//-     headingTextColored: 'Colored',
//-     text: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
//-     linkSrc: '#'
//-   },
//-   {
//-     iconClass: 'sample-class',
//-     headingTextDefalt: 'Some text ',
//-     headingTextColored: 'Colored',
//-     text: 'Lorem ipsum dolor sit amet, constetuer adipiscing elit. Aenean commodo.',
//-     linkSrc: '#'
//-   },
//-   {
//-     iconClass: 'sample-class',
//-     headingTextDefalt: 'Some text ',
//-     headingTextColored: 'Colored',
//-     text: 'Lorem ipsum dolor sit amet, constetuer adipiscing elit. Aenean commodo.',
//-     linkSrc: '#'
//-   },
//- ],
//- })


mixin post(obj)
  each item in obj.postList
    article.post
      .img-holder
        img(src="images/"+item.postImage, alt="image description")
      .text-holder
        h2
          =item.postHeading
        p
          =item.postText
        a.more(href=item.postMoreHref)= item.postMoreText

//- usage not here. Look at index.pug file
//- +post ({
//- postList: [
//-   {
//-     postImage: 'img-01.jpg',
//-     postHeading: 'Some text ',
//-     postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
//-     postMoreHref: '#',
//-     postMoreText: 'Learn more 1'
//-   },
//-   {
//-     postImage: 'img-01.jpg',
//-     postHeading: 'Some text ',
//-     postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
//-     postMoreHref: '#',
//-     postMoreText: 'Learn more 2'
//-   },
//-   {
//-     postImage: 'img-01.jpg',
//-     postHeading: 'Some text ',
//-     postText: 'Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo.',
//-     postMoreHref: '#',
//-     postMoreText: 'Learn more 3'
//-   },
//- ],
//- })
