.post {
  @include clearfix;
  margin: $base-paragraph-margin;
  background: $post-bg;
  color: $post-text-color;
  h2 {
    color: $post-heading-color;
  }
  .img-holder {
    @include size($post-img-size);
    float: left;
  }
}
