include ../mixins/_mixins.pug
doctype html
html(lang="en")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Page Title
  link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
  link(rel="stylesheet", href="css/main.css")
  script(src="js/main.js" defer)
  block body
    body
      include _header
      block content
      include _footer
