include ../mixins/_mixins.pug
+categoryNav ({
categoryList: [
  {
    category: 'Lorem',
    class: 'nav__item--active',
    href: '#'
  },
  {
    category: 'Ipsum',
    class: '',
    href: '#'
  },
  {
    category: 'Dolor',
    class: '',
    href: '#'
  },
  {
    category: 'Amet',
    class: '',
    href: '#'
  }
],
})
